body {
    background-color:white;
       }
       .myButton {
       background-color:whitesmoke;
       color:black;
       height: 50px;
       min-width: 100px;
       border: 2px;
       cursor: pointer;
       }
    